<h1>Producto: <%= @product.name %> </h1>
<p>Id Producto: <%= @product.id %></p>
<p>Categoría: <%= @product.category %></p>

<table>
  <thead>
    <th>Id Variante</th>
    <th>Color</th>
    <th>Talla</th>
  </thead>
  <tbody>
    <% @product.variants.each do |variant| %>
      <tr>
        <td> <%= variant.id %> </td>
        <td> <%= variant.color %> </td>
        <td> <%= variant.size %> </td>
      </tr>
    <% end %>
  </tbody>
</table>