<!DOCTYPE html>
<html>
  <head>
    <title>EtinerLabsChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <header>
      <ul>
        <li><%= link_to "Formulario", new_product_path%></li>
        <li><%= link_to "Productos", products_path%></li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
